# This playbook does user-specific unprivileged settings provisioning for the specified "provisioned_user" var
- name: User Settings Playbook
  hosts: desktop
  become_user: "{{ provisioned_user }}"
  vars:
    input_config: "{{ ansible_env.HOME }}/.config/kcminputrc"
    ssh_dir: "{{ ansible_env.HOME }}/.ssh"
    ssh_key_path: "{{ ssh_dir }}/id_rsa"

  tasks:
  - name: Gather Package Facts
    ansible.builtin.package_facts:
      manager: auto
  - name: Configure KDE Settings
    block:
      ################## Input Settings ########################
      - name: Ensure NumLock is turned on at startup 
        community.general.kdeconfig:
          path: "{{ input_config }}"
          values:
            - group: Keyboard
              key: NumLock
              value: "0"
          mode: '0600'

    # Only run if KDE is actually installed
    when: ansible_facts.packages['plasma-desktop'] is defined or 
          ansible_facts.packages['kwriteconfig5'] is defined

  ################## SSH Keys ########################
  - name: "Ensure {{ ansible_user_id }} has an ssh directory"
    ansible.builtin.file:
      path: "{{ ssh_dir }}"
      state: directory
      mode: '0700'

  - name: "Ensure {{ ansible_user_id }} account has a default ssh key pair generated"
    community.crypto.openssh_keypair:
      path: "{{ ssh_key_path }}"