# This playbook does user-specific unprivileged settings provisioning for the specified "provisioned_user" var
- name: User Settings Playbook
  hosts: desktop
  become_user: "{{ provisioned_user }}"
  vars:
    power_config: "{{ ansible_env.HOME }}/.config/powerdevilrc"
    input_config: "{{ ansible_env.HOME }}/.config/kcminputrc"
    ssh_dir: "{{ ansible_env.HOME }}/.ssh"
    ssh_key_path: "{{ ssh_dir }}/id_rsa"

  tasks:
  - name: Gather Package Facts
    ansible.builtin.package_facts:
      manager: auto
  - name: Configure KDE Settings
    block:
      ################## Input Settings ########################
      - name: Ensure NumLock is turned on at startup 
        community.general.kdeconfig:
          path: "{{ input_config }}"
          values:
            - group: Keyboard
              key: NumLock
              value: "0"
          mode: '0600'

      ################## Power Settings ########################
      # --- AC POWER SETTINGS (Plugged In) ---

      - name: "Ensure AC: Screen Dimming is set properly"
        ansible.builtin.ini_file:
          path: "{{ power_config }}"
          section: "[AC][Display]"
          option: DimDisplayIdleTimeoutSec
          value: "275"
          mode: '0600'

      - name: "Ensure AC: Screen Turn Off is set properly"
        ansible.builtin.ini_file:
          path: "{{ power_config }}"
          section: "[AC][Display]"
          option: TurnOffDisplayIdleTimeoutSec
          value: "360" # 6 minutes

      - name: "Ensure AC: Auto suspend is off if laptop Screen is closed"
        ansible.builtin.ini_file:
          path: "{{ power_config }}"
          section: "[AC][SuspendAndShutdown]"
          option: AutoSuspendAction
          value: "0" # Disabled

    # Only run if KDE is actually installed
    when: ansible_facts.packages['plasma-desktop'] is defined or 
          ansible_facts.packages['kwriteconfig5'] is defined

  ################## SSH Keys ########################
  - name: "Ensure {{ ansible_user_id }} has an ssh directory"
    ansible.builtin.file:
      path: "{{ ssh_dir }}"
      state: directory
      mode: '0700'

  - name: "Ensure {{ ansible_user_id }} account has a default ssh key pair generated"
    community.crypto.openssh_keypair:
      path: "{{ ssh_key_path }}"